/*classes*/

.header {
    position: relative;
    top: -10px;
    background-color: #ff7f00;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
	height: 50px;
}

.wrapper {
	background: #000;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    position: relative;
    top: -10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 3px #fff;
    font-family: Garamond, Arial, sans-serif;
    font-size: 0.8em;
}

.inputbox {
	width: 150px;
	clear: both;
}


/*ids*/

#input {
	width: 100%;
	clear: both;
}

#sigoptions {
	width: 200px;
	clear: both;
}

#options {
	width: 400px;
	clear: both;
}

/*elements*/

body {
	background-color: #000;
}

h1 {
	color: #ffffff;
	font-family: Garamond, Arial, sans-serif;
	font-size: 40px;
	text-align: center;
}

form {
	color: #fff;
    font-family: Garamond, Arial, sans-serif;
	font-size: 18px;
}

p {
	color: #ffffff;
    font-family: Garamond, Arial, sans-serif;
    display: inline-block;
}

input {
    font-family: Garamond, Arial, sans-serif;
	font-size: 14px;
    color: #333;
}

textarea {
	vertical-align: top;
	width: 400px;
	color: #000;
	font-family: Garamond;
	font-size: 14px;
}